* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: yellow;
  font-size: 2rem;
  padding: 3rem;
}

.flex-container {
  background-color: white;
  color: white;
  padding: 1rem;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hijo1 {
  position: relative;
  z-index: 1;
  background-color: green;
  height: 200px;
  width: 200px;
  padding: 1rem;
}
.hijo2 {
  position: absolute;
  z-index: 2;
  background-color: blue;
  height: 200px;
  width: 200px;
  padding: 1rem;
}
.hijo3 {
  position: relative;
  z-index: 3;
  background-color: purple;
  height: 200px;
  width: 200px;
  padding: 1rem;
}
