* {
  margin: 0;
  padding: 0;
}

#container1 {
  background-color: yellow;
  margin: 25px;
  padding: 15px;
  border: 5px solid;
  width: 200px;
  height: 200px;
}

h1 {
  background-color: blue;
  padding: 5px;
}
