.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: clamp(500px, 40%, 700px);
  padding: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 0.5rem;
}
.checkbox-container{
  display: flex;
  align-items: center;
  gap:0.5rem
}

.remember-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 0.5rem;
}


