
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
}

.contenedor-texto{
    background-color: red;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}


